:root {
  --maxCont-width: 100%;
  --mobile-medCont-width: calc((327 / 375) * 100vw);
  --mobile-minCont-width: calc((312 / 375) * 100vw);
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-repeat: no-repeat;
}

/* dominant flex styling */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

html,
body,
.main-container,
.sub-container {
  width: 100%;
}

.main-container {
  background-color: #191765;
  align-items: stretch;
  gap: calc((120 / 375) * 100vw);
}

.sub-container-1 {
  font-size: 18;
  background-image: url(./icons&imgs/Top\ circles.png);
  background-size: contain;
  gap: 88px;
}

.toolbar {
  flex-direction: row;
  flex: 0 0 calc((45 / 375) * 100vw);
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  width: var(--maxCont-width);
}

.logo {
  flex: 0 0 165px;
  max-height: 36px;
  font-size: 18px;
  line-height: 16px;
  padding: 10px 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 8px;
}

.nav {
  padding: 8px;
  flex: 0 0 66px;
  min-height: 66px;
}

.button.normal {
  width: calc((89 / 375) * 100vw);
  height: 48px;
}

.headline {
  width: var(--mobile-medCont-width);
  gap: 24px;
  justify-content: space-evenly;
}

.head {
  flex: 0 0 154px;
  justify-content: space-evenly;
  align-items: center;
}

.mainTxt-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.spprtTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
}

.offer {
  flex: 0 0 170;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
}

hr {
  border: none;
  border-bottom: 1px solid #646369;
  flex: 0 0 17px;
  width: var(--mobile-medCont-width);
  margin: 0.5;
}

.spprtSect {
  gap: 24px;
}

.sect {
  justify-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  width: 302px;
  flex: 0 0 462.15px;
}

.frame {
  flex: 0 0 124px;
  list-style: none;
  align-items: left;
  justify-content: center;
}

ul {
  text-align: left;
  margin: 0;
  list-style: none;
}

nav > ul {
  display: none;
}

a {
  text-decoration: none;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #9490ff;
  text-align: left;
}

li {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
  margin-top: 12px;
  padding: 0;
}

.spprtItems {
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 24px;
}

.reach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 72px;
}

.socialMedia {
  flex: 0 0 40px;
  align-self: center;
  min-width: 200px;
}

.socialMedia li {
  flex: 0 0 40px;
  margin: 0;
}

.comunic {
  height: 24px;
  width: 24px;
}

.elementRight {
  flex: 0 0 40px;
  min-width: 77px;
  gap: 12px;
}

.work {
  color: #a2a3ae;
}

.sub-container-2 {
  background-image: url(icons&imgs/recentworkBG.png);
  background-size: cover;
  gap: 40px;
  width: var(--maxCont-width);
  justify-items: space-between;
  align-self: center;
}

section.recentWork {
  justify-content: flex-start;
  align-items: center;
  width: var(--mobile-medCont-width);
  gap: 120px;
}

.hdr {
  gap: 40px;
  height: fit-content;
  width: var(--mobile-medCont-width);
}

.mainTxt-2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  text-align: left;
  width: var(--mobile-medCont-width);
}

.workBlocks {
  display: grid;
  grid-template-rows: repeat(729px, 4);
  background-color: transparent;
  row-gap: 40px;
}

.featuredImg {
  flex: 0 0 729px;
  max-width: var(--mobile-medCont-width);
  gap: 24px;
}

.imgPlaceHolder {
  min-height: calc((236 / 375) * 100vh);
  width: var(--mobile-medCont-width);
  background: linear-gradient(0deg, #fff, #fff);
}

.rightBlock {
  display: flex;
  flex-direction: column;
  max-width: var(--mobile-medCont-width);
  min-height: 469;
  gap: 24px;
}

.titlePost {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 24px;
  text-align: left;
}

p.supportingTxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-self: left;
  text-align: left;
}

ul.tags {
  justify-self: flex-start;
  justify-content: flex-start;
  margin: 0;
  max-width: var(--mobile-minCont-width);
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  gap: 0;
  align-items: center;
}

.tags > li {
  margin: 0;
  padding: 0;
  padding: 10px 12px;
  flex: 0 0 56px;
  height: 40px;
  border-left: 1px solid #555;
  text-align: center;
}

.button.normal.preview,
.button.normal.email {
  width: 89px;
  height: 48px;
  background: #7d73fc;
  align-self: left;
  border-radius: 0;
  text-align: center;
  word-wrap: normal;
}

.cntcntHead {
  width: var(--mobile-medCont-width);
  height: 164px;
  justify-content: center;
  align-items: center;
}

.contact {
  color: #9390ff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  width: 327px;
  margin-bottom: 24px;
}

.descript {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  width: var(--mobile-medCont-width);
}

footer {
  gap: 12px;
}

form {
  gap: 24px;
}

form > * {
  border: none;
  outline: none;
}

.field1 {
  width: 295px;
  height: 16px;
  text-align: left;
  color: #000;
  padding: 16px;
}

.field2 {
  min-width: 295px;
  height: 12px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #191765;
  padding: 16px;
}

.field3 {
  min-width: 303px;
  min-height: 124px;
  resize: none;
  text-align: left;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.two {
  margin-bottom: 0;
}

.e-address {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.desk {
  display: none;
}

.elementRight-1 {
  display: none;
}

@media (min-width: 768px) {
  .toolbar {
    max-height: 72px;
    max-width: 100%;
    justify-content: space-evenly;
  }

  .logo {
    line-height: 20px;
  }

  .nav > .button-nav {
    display: none;
  }

  nav > ul {
    display: flex;
    gap: 8px;
  }

  nav > ul > li {
    width: 77px;
  }

  nav > ul > .nav-link1 {
    padding-bottom: 8px;
  }

  .sub-container-1 {
    background-image: url(icons&imgs/twoCirclesHeader.png);
  }

  .head {
    flex: 0 0 192;
  }

  .mainTxt-1 {
    font-size: 90px;
    line-height: 105px;
    color: #9391ff;
  }

  .spprtTxt {
    font-size: 40px;
    line-height: 47px;
    color: #dfe1e6;
  }

  .offer {
    flex: 0 0 155;
    line-height: 32px;
    color: #b3bac5;
  }

  .elementRight-1 {
    display: flex;
  }

  .headline {
    width: fit-content;
  }

  hr.divider-1 {
    width: 100%;
  }

  .spprtSect {
    max-width: 448px;
  }

  .sect {
    min-width: 100%;
    justify-content: space-between;
    max-height: 215px;
  }

  .frame {
    max-height: 215px;
  }

  .spprtItems {
    flex-direction: row;
    justify-content: space-between;
    width: calc((1023 / 1440) * 100vw);
  }

  .sub-container-2 {
    background-image: url(icons&imgs/desktopSub2BG.png);
    background-size: contain;
  }

  .featuredImg {
    flex-direction: row;
    min-width: var(--mobile-medCont-width);
  }

  .imgPlaceHolder {
    min-width: calc((684 / 1440) * 100vw);
    height: auto;
  }

  .featuredImg > .one {
    order: 1;
  }

  .featuredImg > .two {
    order: 2;
  }

  ul.tags {
    width: calc((311 / 1440) * 100vw);
  }

  form > textarea {
    width: 660px;
    height: 136px;
  }

  form > input {
    height: 16px;
  }

  form > .field2 {
    width: 652px;
  }

  form > .field1 {
    display: none;
  }

  .desk {
    display: flex;
    gap: 24px;
    max-width: 682px;
    max-height: 48px;
    flex-shrink: 1;
  }

  .button.normal.email {
    width: 160px;
  }

  .reach {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

form > input:valid,
textarea:valid {
  border: 2px solid rgba(36, 216, 36, 0.897);
}

form > input:invalid,
textarea:invalid {
  border: 2px solid rgba(221, 52, 52, 0.753);
}

form > input:focus,
textarea:focus {
  border: 2px solid #9490f5;
}

form > .desk > input:valid {
  border: 2px solid rgba(36, 216, 36, 0.897);
}

form > .desk > input:focus {
  border: 2px solid #9490f5;
}

form > .desk > input:invalid {
  border: 2px solid rgba(221, 52, 52, 0.753);
}

.button.normal.preview:hover,
.button.normal.email:hover {
  background: #7d73fc;
  box-shadow: 0 8 16 rgba(125, 115, 252, 0.48);
}

.button.normal.preview:active,
.button.normal.email:active {
  background-color: #5e42d7;
  box-shadow: 0 8 16 rgba(125, 115, 252, 0.48);
}

.button.normal.preview:disabled,
.button.normal.email:disabled {
  background-color: #2a2b33;
}
