* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-repeat: no-repeat;
}

/* dominant flex styling */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body,
.main-container,
.sub-container {
  width: 375px;
}

.main-container {
  background-color: #191765;
  align-items: stretch;
  gap: 120px;
}

.sub-container-1 {
  font-size: 18;
  background-image: url(./icons&imgs/Top\ circles.png);
  background-size: contain;
}

.toolbar {
  flex-direction: row;
  flex: 0 0 45px;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  width: 100%;
}

.logo {
  flex: 0 0 165px;
  max-height: 36px;
  font-size: 18px;
  line-height: 16px;
  padding: 10px 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 8px;
}

.button.nav {
  padding: 8px;
  flex: 0 0 66px;
  min-height: 66px;
  background-image: url(icons&imgs/hamEnabled.png);
  background-size: contain;
}

.button.normal {
  width: 89px;
  height: 48px;
}

.headline {
  width: 327px;
  gap: 24px;
  justify-content: space-evenly;
}

.head {
  flex: 0 0 154px;
  justify-content: space-evenly;
  align-items: center;
}

.mainTxt-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.spprtTxt {
  font-style: normal;
  font-weight: 500;
  font-size: 32;
  line-height: 44px;
  color: #edecff;
}

.offer {
  flex: 0 0 170;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
}

.divider {
  border: none;
  border-bottom: 1px solid #646369;
  flex: 0 0 17px;
  width: 327px;
  margin: 0.5 0 0 0;
}

.spprtSect {
  gap: 24px;
}

.sect {
  justify-content: flex-start;
  gap: 12px;
  flex-wrap: wrap;
  width: 302px;
  flex: 0 0 462.15px;
}

.frame {
  flex: 0 0 124px;
  list-style: none;
  align-items: left;
  justify-content: center;
}

ul {
  text-align: left;
  margin: 0;
  list-style: none;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #9490ff;
  text-align: left;
}

li {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #f5f5ff;
  margin-top: 12px;
  padding: 0;
}

.spprtItems {
  align-self: center;
}

.socialMedia {
  flex: 0 0 40px;
  align-self: center;
  min-width: 200px;
}

.socialMedia li {
  flex: 0 0 40px;
  margin: 0;
}

.comunic {
  height: 24px;
  width: 24px;
}

.elementRight {
  flex: 0 0 40px;
  min-width: 77px;
  gap: 12px;
}

.work {
  color: #a2a3ae;
}

.sub-container-2 {
  background-image: url(icons&imgs/recentworkBG.png);
  background-size: contain;
  gap: 40px;
  width: 375px;
  align-items: center;
  align-self: center;
}

.recentWork {
  justify-content: space-between;
  align-items: center;
  width: 327px;
  gap: 120px;
}

.h {
  gap: 40px;
  margin-bottom: 40px;
}

.mainTxt-2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  text-align: left;
  width: 327px;
}

.workBlocks {
  display: grid;
  grid-template-rows: repeat(729px, 4);
  background-color: transparent;
}

.featuredImg {
  flex: 0 0 729px;
  max-width: 327px;
  gap: 24px;
  margin-bottom: 40px;
}

.imgPlaceHolder {
  width: 327px;
  height: 236px;
  background: linear-gradient(0deg, #fff, #fff);
}

.rightBlock {
  display: flex;
  flex-direction: column;
  max-width: 327px;
  height: 469;
}

.titlePost {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 24px;
  text-align: left;
}

p.supportingTxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-self: left;
  text-align: left;
}

ul.tags {
  justify-self: flex-start;
  justify-content: flex-start;
  margin: 0;
  max-width: 312px;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  gap: 0;
  align-items: center;
  margin-bottom: 24px;
}

.tags > li {
  padding: 0;
  padding: 10px 12px;
  flex: 0 0 56px;
  height: 40px;
  border-left: 1px solid #555;
  text-align: center;
}

.button.normal.preview,
.button.normal.email {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  align-self: left;
  border-radius: 0;
  text-align: center;
}

.Page {
  gap: 40px;
}

.cntcntHead {
  width: 327px;
  height: 164px;
  justify-content: center;
  align-items: center;
}

.contact {
  color: #9390ff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  width: 327px;
  margin-bottom: 24px;
}

.descript {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  width: 327px;
}

footer {
  gap: 12px;
}

form {
  gap: 24px;
}

form > * {
  border: none;
  outline: none;
}

.field1 {
  width: 295px;
  height: 16px;
  text-align: left;
  color: #000;
  padding: 16px;
}

.field2 {
  width: 295px;
  height: 12px;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #191765;
  padding: 16px;
}

.field3 {
  min-width: 303px;
  min-height: 124px;
  resize: none;
  text-align: left;
  padding: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.two {
  margin-bottom: 0;
}

.e-address {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form > input:focus {
  border: 2px solid #9490f5;
}

form > input:invalid {
  border: 2px solid rgba(221, 52, 52, 0.753);
}

form > input:valid {
  border: 2px solid rgba(36, 216, 36, 0.897);
}

.button.normal.preview,
.button.normal.email:hover {
  background: #7d73fc;
  box-shadow: 0 8 16 rgba(125, 115, 252, 0.48);
}

.button.normal.preview,
.button.normal.email:active {
  background-color: #5e42d7;
  box-shadow: 0 8 16 rgba(125, 115, 252, 0.48);
}

.button.normal.preview,
.button.normal.email:disabled {
  background-color: #2a2b33;
}
